*.py[cod]
__pycache__
cache
output
.doit.db
.doit.db*
.venv
nikolaserve.pid
/plugins/orgmode/eln-cache/
/plugins/orgmode/elpa-*/
/plugins/orgmode/elpa/
/uv.lock
.tools/
themes/nikola-tailwind3-base/assets/css/tailwind.css
themes/nikola-tailwind4-base/assets/css/tailwind.css
